<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Biblioteca</span>
  <span class="example-spacer"></span>
  <!-- Se agrega funcionalidad al botton de agregar libro -->
  <button mat-raised-button color="warn" (click)="openDialog()">Agregar Libro</button>
  <!-- -------------------------------------- -->
  <!-- Se agrega funcionalidad al botton de agregar categoria -->
  <button style="margin-left: 8px;" mat-raised-button color="warn" (click)="openDialogCat()">Agregar Categoria</button>
  <!-- -------------------------------------- -->
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filtrar Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nombre libro o autor" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Columna titulo Libros -->
        <ng-container matColumnDef="tituloLibro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
          <td mat-cell *matCellDef="let row"> {{row.tituloLibro}} </td>
        </ng-container>
    
        <!-- Columna Autor Libro -->
        <ng-container matColumnDef="autorLibro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
          <td mat-cell *matCellDef="let row"> {{row.autorLibro}} </td>
        </ng-container>
    
        <!-- Columna Categoria Libro -->
        <ng-container matColumnDef="categoriaLibro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row"> {{row.categoriaLibro}} </td>
        </ng-container>
    
        <!-- Columna Portada Libro -->
        <ng-container matColumnDef="portadaLibro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Portada </th>
          <td mat-cell *matCellDef="let row"> {{row.portadaLibro}} </td>
        </ng-container>

        <!-- Columna fecha libro -->
        <ng-container matColumnDef="fechaLibro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaLibro | date}} </td>
        </ng-container>

        <!-- Columna acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editLibros(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarLibro(row.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- columna para mostrar si hay datos. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontro Informacion para filtrar"{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 100]" aria-label="Seleccione los registros a mostrar"></mat-paginator>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Filtrar Busqueda</mat-label>
      <input matInput (keyup)="applyFilterCat($event)" placeholder="Ejemplo: Humor" #inputCat>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSources" matSort>
    
        <!-- Columna Categoria -->
        <ng-container matColumnDef="nombreCategoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row"> {{row.nombreCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="accionesCat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editCategoria(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarCategoria(row.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    
        <!-- columna para mostrar si hay datos. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontro Informacion para filtrar"{{inputCat.value}}"</td>
        </tr>
      </table>
    </div>
  </div>
</div>
